.block1 {
	width: 100%;
	height: auto;
	display: flex;
	border-bottom: 3px solid black;
	align-items: flex-end;
}
.floors {
	display: flex;
	align-items: flex-end;
}
.elevator{
  width: 132px;
  height: 200px;
  background-image: url("../img/elevator.png");
  display: flex;
  transition: all ease 2s;
	margin-left: 1px;
	margin-bottom: 3px;
}
.right-door{
  background-image: url("../img/right.png");
  width: 69px;
  height: 201px;
  transition: all ease 2s;
}
.left-door{
  background-image: url("../img/left.png");
  width: 69px;
  height: 201px;
}
.floorButton {
	width: 300px;
	height: 200px;
	border: 3px solid black;
	border-left: none;
	border-right: none;
	text-align:center;
	font-size: 400%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-content: flex-end;
	background-image: url("../img/brick.jpg");
}
.floorButtons{
	margin-top: 0;
	padding-left: 0;
}
img{
	cursor: pointer;
}
.button-block {
	display: flex;
	width: auto;
	height: 120px;
	align-self: flex-end;
	justify-content: space-around;
	padding: 10px;
	margin-left: 100px;
}
.button-block > button {
	width: 100px;
  font-size: 30px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;

}
.wrap{
	width: 400px;
	height: 1000px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}
.display{
	width: 250px;
	height: 250px;
	background-image: url("../img/metal_border.png");
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-right: 1280px;
	margin-bottom: 700px;
}
.arrow{
	background-image: url("../img/inactive.png");
	width: 65px;
	height: 65px;
	flex: 0 0 auto;
	margin: 3px;
}
.number{
	background-image: url("../img/border_for_number.png");
	width: 65px;
	height: 65px;
	flex: 0 0 auto;
    margin: 3px;
}
.number > h1{
	text-align: center;
	font-size: 400%;
    margin: 0;
}
.left-ropes , .right-ropes {
	display: flex;
	width: 4px;
	height: 100%;
	background-image: url(../img/ropes.jpg);
    background-repeat: repeat;
    border: 1px solid;
    flex-wrap: wrap;
    align-self: flex-start;
   /* flex: 0 0 auto;*/
}
.left-ropes {
	margin-right: 20px;
}
.ropes {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height:100%;
	border-top:3px solid;
}

.elev {
	display: flex;
	flex-direction: column;
	height:1030px;
     align-items:auto; 
}

